

<div id="crawls_page">

<h2>Crawls</h2>
<br>
<table id="crawl_table">
  <thead>
    <tr>
      <!-- <th id="crawl_name" colspan="3">Name</th> -->
      <!-- <th colspan="3"></th> -->


<h1>Crawls</h1>
<%= form_tag("/crawls", method: "get" ) do %>
<%= label_tag(:text_search, "Search by Name or Address:") %>
<%= text_field_tag(:text_search, nil, placeholder: "Name or Address") %>
<h4>OR</h4>
<%= label_tag(:number_search, "Search by User ID:") %>
<%= number_field_tag(:number_search, nil, min: 1, placeholder: "User ID") %>
<%= submit_tag 'Search' %>
<% end %>

<br>
<% if @results.present? %>
<h3>Search Results:</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>User ID</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% @results.each do |result| %>
    <tbody>
      <tr>
        <td><%= result.name %></td>
        <td><%= result.address %></td>
        <td><%= result.user_id%></td>
        <td><%= result.latitude %></td>
        <td><%= result.longitude %></td>
        <td><%= result.created_at %></td>
        <td><%= result.updated_at%></td>
        <!-- <td><%= link_to 'Show | ', result %></td> -->
        <td><%= link_to 'Edit | ', result %></td>
        <td><%= link_to 'Delete', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
<% end %>

<br>
<h3>All Crawls:</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>User ID</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th colspan="3"></th>

    </tr>
  </thead>
  <tbody>
    <% @crawls.each do |crawl| %>
      <% if (current_user.id == crawl.user_id) || (current_user.has_role? :admin) %>
      <tr>
        <td><%= crawl.name %></td>
        <td><%= crawl.address %></td>
        <td><%= crawl.user_id %></td>
        <td><%= crawl.latitude %></td>
        <td><%= crawl.longitude %></td>
        <td><%= crawl.created_at %></td>
        <td><%= crawl.updated_at %></td>
        <!-- <td><%= link_to 'Show | ', crawl %></td> -->
        <td><%= link_to 'Edit | ', crawl %></td>
        <td><%= link_to 'Delete', crawl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<br>

<%= link_to 'New Crawl', root_path %>
</div>