<div id="crawls_page">
  <table id="crawl_table">
    <thead>
      <h1>Crawls</h1>
      <h4>Make A New Crawl</h4>
      <%= form_tag("/crawls/create") do %>
        <%= text_field_tag 'address', nil, placeholder: "Enter Location", class: "search_input" %>
        <%= submit_tag 'New Crawl' %>
      <% end %>
      <%= form_tag("/crawls", method: "get" ) do %>
        <%= label_tag(:text_search, "Search by Name or Address") %>
        <%= text_field_tag(:text_search, nil, placeholder: "Name or Address", class: "search_input") %>
        <%if current_user.has_role? :admin%>
          <h4>OR</h4>
          <%= label_tag(:number_search, "Search by User ID") %>
          <%= number_field_tag(:number_search, nil, min: 1, placeholder: "User ID") %>
        <%end%>
        <%= submit_tag 'Search', id: "search_button" %>
      <% end %>
    </thead>
  </table>
  <% if @results.present? %>
    <h3>Search Results</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <%if current_user.has_role? :admin%>
            <th>User ID</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Created At</th>
            <th>Updated At</th>
          <%end%>
          <th colspan="2">Options</th>
          <th>Share</th>
        </tr>
      </thead>
      <% @results.each do |result| %>
        <tbody>
          <% if (current_user.id == result.user_id) || (current_user.has_role? :admin) %>
            <tr>
              <td><%= result.name %></td>
              <td><%= result.address %></td>
              <%if current_user.has_role? :admin%>
                <td><%= result.user_id%></td>
                <td><%= result.latitude %></td>
                <td><%= result.longitude %></td>
                <td><%= result.created_at %></td>
                <td><%= result.updated_at%></td>
              <%end%>
              <td><%= link_to 'Edit ', result %></td>
              <td><%= link_to 'Delete', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <%if result.shareable == false%>
                <td><%= link_to 'Make Public', "/crawls/"+result.id.to_s+"/make_shareable", method: :PUT %></td>
              <%else%>
                <td><%= link_to 'Make Private', "/crawls/"+result.id.to_s+"/make_shareable", method: :PUT %></td>
              <%end%>
            </tr>
          <%end%>
        </tbody>
        <% end %>
      </table>
  <% end %>

  <h3>Your Crawls</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <%if current_user.has_role? :admin%>
          <th>User ID</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Created At</th>
          <th>Updated At</th>
        <%end%>
        <th colspan="2">Options</th>
        <th>Share</th>
      </tr>
    </thead>
    <tbody>
      <% @crawls.each do |crawl| %>
        <% if (current_user.id == crawl.user_id) || (current_user.has_role? :admin) %>
        <tr>
          <td><%= crawl.name %></td>
          <td><%= crawl.address %></td>
          <%if current_user.has_role? :admin%>
            <td><%= crawl.user_id%></td>
            <td><%= crawl.latitude %></td>
            <td><%= crawl.longitude %></td>
            <td><%= crawl.created_at %></td>
            <td><%= crawl.updated_at%></td>
          <%end%>
          <td><%= link_to 'Edit', crawl %></td>
          <td><%= link_to 'Delete', crawl, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          <%if crawl.shareable == false%>
          <td><%= link_to 'Make Public', "/crawls/"+crawl.id.to_s+"/make_shareable", method: :PUT %></td>
          <%else%>
          <td><%= link_to 'Make Private', "/crawls/"+crawl.id.to_s+"/make_shareable", method: :PUT %></td>
          <%end%>

        </tr>

        <% end %>
      <% end %>
    </tbody>
  </table>

  <h3>Public Crawls</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Options</th>
        <%if current_user.has_role? :admin%>
          <th>User ID</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Created At</th>
          <th>Updated At</th>
        <%end%>
      </tr>
    </thead>

    <tbody>
      <% @crawls.each do |crawl| %>
        <% if crawl.shareable == true %>
        <tr>
          <td><%= crawl.name %></td>
          <td><%= crawl.address %></td>
          <%if current_user.has_role? :admin%>
            <td><%= crawl.user_id%></td>
            <td><%= crawl.latitude %></td>
            <td><%= crawl.longitude %></td>
            <td><%= crawl.created_at %></td>
            <td><%= crawl.updated_at%></td>
          <%end%>
          <td><%= link_to 'Show', crawl %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>

  </table>

</div> <!--Closes crawl page div -->
