
<% if cookies[:accepted].blank? %>
  <div id="myModal" class="modal">

    <div class="modal-content">
      <img id="logo" src= "<%=asset_path('hoppycrawllogo.png')%>"/>
      <p id="age_check">Are you 21 or over?</p>
      <div class="row">
        <div class="col-md-2 col-md-offset-4">
          <input type="button" onclick="location.href='https://www.youtube.com/watch?v=6-HUgzYPm9g';" value="NO">
        </div>
        <div class="col-md-2">
          <form action="/crawls/age_verified" method="GET">
            <input id="yesButton" type="submit" name="accepted" value="YES!">
          </form>
        </div>
      </div>
    </div>
  <!-- link_to "I accept", :controller => 'welcome', :action => 'accept_and_redirect' -->
  </div>
<%end%>



<!-- moved navbar into application.html.erb file -->


<div class="container">
  <div class="row" id="center_piece">
    <div class="col-md-12">
      <div class="main_image">
        <div class="hoptoit">
          <h3 id="hop_text"><span>HOP</span> TO IT!</h3>
            <h4 id="loc_ready">Finding your position...<img src="https://d13yacurqjgara.cloudfront.net/users/82092/screenshots/1073359/spinner.gif" height="64" width="85"></h4>
          <%= form_tag("/crawls/create") do %>
          <%= text_field_tag 'address', nil, placeholder: "Enter Location", :id => 'crawl_field' %>
          <%= hidden_field_tag 'your_lat', ''  %>
          <%= hidden_field_tag 'your_long', ''  %>
          <br>
          <br>
          <%= submit_tag 'Crawl', :id => 'crawl_button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="ashleydiv">
  <div class="row">
    <div class="col-md-4">
      <div class="three-p">

        <!-- <img src="#"> --><i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
        <h4>plot</h4>
        <p>Bring the adventure right to your fingertips. Randomly generate a beer crawl regardless of your location!  </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="three-p">
        <!-- <img src="#"> --><i class="fa fa-calendar fa-5x" aria-hidden="true"></i>

        <h4>plan</h4>
        <p>Edit the crawls to specify the times and locations you like! </p>
        <!-- STRETCH GOAL: Keep in touch with your favorite breweries, and keep up to date on all new beer releases! -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="three-p">
        <!-- <img src="#"> --> <i class="fa fa-users fa-5x" aria-hidden="true"></i>
        <h4>party</h4>
        <p>Hop to it and get your crawl on! Grab your best friends, get out, and explore your city the beer way. </p>
      </div>
    </div>
  </div>
</div>
