<div class="container" >
  <%= form_for @crawl do |f| %>
    <div id="crawls_info_div" class="row" style="margin-bottom: 20px; text-align:center;">
      <div class="col-md-4">
        <h4><%= f.label :name_your_crawl %></h4>
        <%= f.text_field :name, placeholder: "Enter Name" %>
      </div>
      <div class="col-md-4">
        <h4><%= f.label :address %></h4>
        <%= f.text_field :address, placeholder: "Enter Address" %> <!-- Doesn't do anything yet before changing the map location - doesnt update brew stops -->
      </div>
      <div class="col-md-4">
        <h4><%= f.label :date %></h4>
        <%= f.date_select :date %>
      </div>
    </div> <!-- End of row1 col1 -->

    <div class="row">
      <div class="col-md-6">
        <div class id="crawl_map" data-crawl-id="<%=@crawl.id%>">
          Loading map...
        </div>
      </div> <!-- End of row 2, col 1 -->
      <% if @crawl.brewery_stops.count == 0 %>
        <div class="col-md-6">
          <p>Oh no! We haven't populated any breweries in that area. Please check back later!</p>
          <div id="crawl_location" data-crawl-lat='<%=@crawl.latitude%>' data-crawl-long='<%=@crawl.longitude%>'></div>
        </div>
      <% else %>
        <div id='brew-col-left' class="col-md-3">
          <div id="crawl_location" data-crawl-lat='<%=@crawl.latitude%>' data-crawl-long='<%=@crawl.longitude%>'></div>
          <% @crawl.brewery_stops.count>= 3 ? brew_count = 2 : brew_count = 0%>
          <%= f.fields_for :brewery_stops, @crawl.brewery_stops.order(start_time: :asc)[0..brew_count] do |bs_form| %>
            <div class='brewery_stop'
                 data-lat='<%= bs_form.object.brewery.latitude %>'
                 data-long='<%= bs_form.object.brewery.longitude %>'
                 data-name='<%= bs_form.object.brewery.name %>'
                 data-website='<%= bs_form.object.brewery.website %>'
                 data-address='<%= bs_form.object.brewery.address %>'
                 data-phone-number='<%= bs_form.object.brewery.phone_number %>'
                 data-hours='<%= bs_form.object.brewery.hours.gsub("/n", " | ") if !bs_form.object.brewery.hours.nil? %>'
                 data-rating='<%= bs_form.object.brewery.rating %>'
            >
              <%= bs_form.hidden_field :brewery_id %>
              <%= bs_form.hidden_field :crawl_id %>
              <h5><%= bs_form.object.brewery.name %></h5>
              <%= bs_form.label :start_time %>
              <%= bs_form.time_select :start_time, {:ampm => true, :minute_step => 15} %>
              <%= bs_form.label :end_time %>
              <%= bs_form.time_select :end_time, {:ampm => true, :minute_step => 15}%>
            </div> <!-- End of brewery_stop-->
          <% end %> <!-- End of first 3 brew stops -->
        </div> <!-- End of col 2, col 1 -->

        <div id="brew_col_right" class="col-md-3">
          <div id="crawl_location" data-crawl-lat='<%=@crawl.latitude%>' data-crawl-long='<%=@crawl.longitude%>'></div>
          <% if @crawl.brewery_stops.count > 3 %>
            <%= f.fields_for :brewery_stops, @crawl.brewery_stops.order(start_time: :asc)[3..@crawl.brewery_stops.count-1] do |bs_form| %>
              <div class='brewery_stop'
                   data-lat='<%= bs_form.object.brewery.latitude %>'
                   data-long='<%= bs_form.object.brewery.longitude %>'
                   data-name='<%= bs_form.object.brewery.name %>'
                   data-website='<%= bs_form.object.brewery.website %>'
                   data-address='<%= bs_form.object.brewery.address %>'
                   data-phone-number='<%= bs_form.object.brewery.phone_number %>'
                   data-hours="<%= bs_form.object.brewery.hours.gsub('/n', ' | ') if !bs_form.object.brewery.hours.nil? %>"
                   data-rating='<%= bs_form.object.brewery.rating %>'
              >
                <%= bs_form.hidden_field :brewery_id %>
                <%= bs_form.hidden_field :crawl_id %>
                <h5><%= bs_form.object.brewery.name %></h5>
                <%= bs_form.label :start_time %>
                <%= bs_form.time_select :start_time, {:ampm => true, :minute_step => 15} %>
                <%= bs_form.label :end_time %>
                <%= bs_form.time_select :end_time, {:ampm => true, :minute_step => 15}%>
              </div> <!-- End of brewery_stop -->
            <% end %>
          <%end%>
        </div> <!-- End of row2 col3 -->
      <% end %>
      <br>
    </div> <!-- End of Row 2 -->
    <%= f.submit :id => 'update_crawl_button' %>
  <% end %> <!-- form_for @crawl do |f| -->
</div> <!--Container close -->
