<p>
  <strong>Address:</strong>
  <%= @crawl.address %>
</p>

<p>
  <strong>User:</strong>
  <%= user_signed_in? ? User.find(@crawl.user_id).email : "N/A" %>
</p>

<br>


<h4>Make Another Search</h4>
<%= form_tag("/crawls/create") do %>
<%= text_field_tag 'address', nil, placeholder: "Enter Location" %>
<%= submit_tag 'New Crawl' %>
<% end %>

<br>
<%= link_to 'Edit', edit_crawl_path(@crawl) %> |
<%= link_to 'Back', crawls_path %>

<br>
<br>

<div id="crawl_map" data-crawl-id="<%=@crawl.id%>">
  One day there will be a map here...
</div>

<%= form_for @crawl do |f| %>

<div id="crawl_location" data-crawl-lat='<%=@crawl.latitude%>' data-crawl-long='<%=@crawl.longitude%>'>
  <br>
  <br>
  <%= f.label :name_your_crawl %>
  <%= f.text_field :name %>
  <%= f.label :date %>
  <%= f.date_select :date %>
  <%= f.fields_for :brewery_stops, @crawl.brewery_stops.order(start_time: :asc) do |bs_form| %>
    <div class='brewery_stop' data-lat='<%= bs_form.object.brewery.latitude %>' data-long='<%= bs_form.object.brewery.longitude %>' data-name='<%= bs_form.object.brewery.name %>' data-website='<%= bs_form.object.brewery.website %>' data-address='<%= bs_form.object.brewery.address %>' data-phone-number='<%= bs_form.object.brewery.phone_number %>' data-hours='<%= bs_form.object.brewery.hours %>' data-rating='<%= bs_form.object.brewery.rating %>'
      <%= bs_form.hidden_field :brewery_id %>
      <%= bs_form.hidden_field :crawl_id %>
      <h5><%= bs_form.object.brewery.name %></h5>
      <%= bs_form.label :start_time %>
      <%= bs_form.time_select :start_time, {:ampm => true, :minute_step => 15} %>
      <%= bs_form.label :end_time %>
      <%= bs_form.time_select :end_time, {:ampm => true, :minute_step => 15}%>
    <% end %>
    <br>
    <br>

    <%= f.submit %>
  </div>
</div>

<% end %>
