<%= form_for(brewery) do |f| %>
  <% if brewery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>

      <ul>
      <% brewery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "fields" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address, :class => "fields" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website, :class => "fields" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :hours %>
    <%= f.text_area :hours, :class => "fields" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, :class => "fields" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "fields" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :rating %>
    <%= f.number_field :rating, :class => "fields" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :latitude %>
    <%= f.number_field :latitude, step: :any, :class => "fields" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :longitude %>
    <%= f.number_field :longitude, step: :any, :class => "fields" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Create Brewery", :id => "brewery_button" %>
  </div>
<% end %>
