
<p>
  <strong>Name:</strong>
<em><%= @brewery.name %></em>
</p>

<p>
  <strong>Address:</strong>
  <em><%= @brewery.address %></em>
</p>

<p>
  <strong>Website:</strong>
  <em><%= @brewery.website %></em>
</p>

<p>
  <strong>Hours:</strong>
  <em><%= @brewery.hours %></em>
</p>

<p>
  <strong>Phone Number:</strong>
  <em><%= @brewery.phone_number %></em>
</p>

<p>
  <strong>Description:</strong>
  <em><%= @brewery.description %></em>
</p>

<p>
  <strong>Rating:</strong>
  <em><%= @brewery.rating %></em>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
