<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<br>
  <div class="password_field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, :class => "fields" %>
  </div>

  <div class="password_actions">
    <%= f.submit "Send reset email", :id => "password_button" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
