<div class="edit_page">
<h4><%= flash[:alert] %></h4>
<br>
<h1>Edit <%= resource_name.to_s.humanize %> Profile</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, :class => "fields"  %>
  </div>
  <br>

  <div class="field">
    <%= f.label :dob %>
    <%=f.date_select :dob, start_year: Date.today.year, end_year: Date.today.year - 100, :id => "dob_select" %>
  </div>
  <br>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, :class => "fields"  %>
  </div>
  <br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <br>
  <% end %>

  <div class="field">
    <%= f.label :new_password %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "", :class => "fields" %>
    <% if @minimum_password_length %><br>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
  <br>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"", :class => "fields" %>
  </div>
  <br>

  <!-- <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div> -->

  <div class="update_button">
    <%= f.submit "Update", :id => "edit_button"%>
  </div>
  <br>
<% end %>

<div class="edit_back">
<%= link_to "Back", :back %>
</div>

<div class="unhoppy">
  <h2>Unhoppy?</h2><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :id => "unhoppy_button" %>
</div>

<br>
</div>
